In [7]:
# Import packages used commonly
from IPython.display import display
import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Import supplementary visualizations code visuals.py
from utils.tools import data_reader

# Pretty display for notebooks
%matplotlib inline

In [9]:
# Getting data of interest
start = datetime.datetime(2015, 8, 16)
end = datetime.datetime(2018, 8, 15)

data_tech = data_reader(['GOOGL', 'AMZN', 'BABA'], start, end)

Retriving data for ['GOOGL', 'AMZN', 'BABA'] from iex
5y

In [13]:
data_tech['BABA'][:5]

             open   high    low  close    volume
date
2015-08-17  74.85  75.24  74.16  75.19  12677386
2015-08-18  74.05  75.13  73.73  73.88  11155139
2015-08-19  73.15  73.56  72.81  73.12  18174057
2015-08-20  71.98  72.78  70.03  70.32  20995615
2015-08-21  69.32  70.66  68.18  68.18  29128632